:root {
  --border: hsl(210, 16%, 82%);
  --input: hsl(210, 16%, 96%);
  --ring: hsl(215, 20%, 65%);
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(222, 47%, 11%);
  --primary: hsl(222, 47%, 11%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(210, 50%, 60%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --muted: hsl(210, 16%, 82%);
  --muted-foreground: hsl(222, 47%, 11%);
  --accent: hsl(0, 0%, 90%);
  --accent-foreground: hsl(222, 47%, 11%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222, 47%, 11%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(222, 47%, 11%);
}
