:root {
  --border: 210 16% 82%;
  --input: 210 16% 96%;
  --ring: 215 20% 65%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --primary: 222 47% 11%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 50% 60%;
  --secondary-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --muted: 210 16% 82%;
  --muted-foreground: 222 47% 11%;
  --accent: 0 0% 90%;
  --accent-foreground: 222 47% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
